@model OneCoreData.CatUsuarios
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>COMISIONES | Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-fonts.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery.gritter.css")" />
    <script src="@Url.Content("~/assets/js/ace-extra.js")"></script>
  
    @Styles.Render("~/Content/css/sweet")
    @Scripts.Render("~/bundles/sweet")
</head>
<body class="login-layout light-login">
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <i class="ace-icon fa fa-cube"></i>
                                    <span class="red">Sistema</span>
                                    <span class="grey" id="id-text2">Comisiones</span>
                                </h1>
                                <h4 class="blue" id="id-company-text">Grupo EI</h4>
                            </div>

                            <div class="space-6"></div>

                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="ace-icon fa fa-shield blue"></i>
                                                Introduce tus accesos
                                            </h4>

                                            <div class="space-6"></div>

                                            @using (Html.BeginForm("LoginAuth", "Home", FormMethod.Post, new { id = "LoginAuth-form" }))
                                            {
                                                <fieldset>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario" } })
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contraseña", @type="password" } })
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>

                                                    <div class="space"></div>

                                                    <div class="clearfix">

                                                        <button type="button" onclick="fnValidaLogin()" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Acceder</span>
                                                        </button>
                                                    </div>

                                                    <div class="space-4"></div>
                                                </fieldset>
                                            }

                                        </div><!-- /.widget-main -->

                                        <div class="toolbar clearfix">
                                            <div>
                                                <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                    <i class="ace-icon fa fa-history"></i>
                                                    Olvidé la contraseña
                                                </a>
                                            </div>
                                            <div class="pull_right" style="display:inline; padding: 5px; font-size:10px; color: #FFF;">V1.0.0.3</div>
                                        </div>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->

                                <!-- Modal -->
                                <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="waitModalLabel">Cargando</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="module" style="font-weight: bold;"></div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">Cargando.</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="forgot-box" class="forgot-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header red lighter bigger">
                                                <i class="ace-icon fa fa-key"></i>
                                                Recuperar Contraseña
                                            </h4>

                                            <div class="space-6"></div>
                                            <p>
                                                Ingresa tu usuario y correo para recibir instrucciones
                                            </p>

                                            @using (Html.BeginForm("LoginRecover", "Home", FormMethod.Post, new { id = "LoginRecover-form" }))
                                            {
                                                <fieldset>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.Editor("LoginPass", new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario", @type = "text" } })
                                                            @*<input type="email" class="form-control" placeholder="Email" />*@
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo de usuario", @type="email" } })
                                                            @*<input type="email" class="form-control" placeholder="Email" />*@
                                                            <i class="ace-icon fa fa-envelope"></i>
                                                        </span>
                                                    </label>

                                                    <div class="clearfix">
                                                        <button  type="button" onclick="fnResetPassword()"class="width-35 pull-right btn btn-sm btn-danger">
                                                            <i class="ace-icon fa fa-lightbulb-o"></i>
                                                            <span class="bigger-110">Enviar!</span>
                                                        </button>
                                                    </div>
                                                </fieldset>
                                            }
                                        </div><!-- /.widget-main -->

                                        <div class="toolbar center">
                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                                Regresar al login
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.forgot-box -->

                                <div id="signup-box" class="signup-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="ace-icon fa fa-users blue"></i>
                                                New User Registration
                                            </h4>

                                            <div class="space-6"></div>
                                            <p> Enter your details to begin: </p>

                                            <form>
                                                <fieldset>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="email" class="form-control" placeholder="Email" />
                                                            <i class="ace-icon fa fa-envelope"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="text" class="form-control" placeholder="Username" />
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="password" class="form-control" placeholder="Password" />
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input type="password" class="form-control" placeholder="Repeat password" />
                                                            <i class="ace-icon fa fa-retweet"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block">
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl">
                                                            I accept the
                                                            <a href="#">User Agreement</a>
                                                        </span>
                                                    </label>

                                                    <div class="space-24"></div>

                                                    <div class="clearfix">
                                                        <button type="reset" class="width-30 pull-left btn btn-sm">
                                                            <i class="ace-icon fa fa-refresh"></i>
                                                            <span class="bigger-110">Reset</span>
                                                        </button>

                                                        <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                            <span class="bigger-110">Register</span>

                                                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                        </button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>

                                        <div class="toolbar center">
                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Back to login
                                            </a>
                                        </div>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.signup-box -->
                            </div><!-- /.position-relative -->

                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
        <!-- basic scripts -->
        <!--[if !IE]> -->
        @*<script type="text/javascript">
            window.jQuery || document.write("<script src='"@Url.Content("~/assets/js/jquery.js")">"+"<"+"/script>");

        </script>*@
        <script src="@Url.Content("~/assets/js/jquery.js")"></script>
        <!-- <![endif]-->
        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='/assets/js/jquery1x.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script>
            var URL_LoginAuth = '@Url.Content("~/Home/LoginAuth")';
            var URL_CambiaPassword = '@Url.Content("~/Home/CambiaPassword")';
            var URL_RecoverPass = '@Url.Content("~/Home/RecoverPass")';
            var URL_Home = '@Url.Content("~/Home/")';
        </script>
        <script type="text/javascript">
            var jquerymobile = '@Url.Content("~/assets/js/jquery.mobile.custom.js")'
            if ('ontouchstart' in document.documentElement) document.write("<script src='" + jquerymobile + "'>" + "<" + "/script>");
        </script>
        <script src="@Url.Content("~/assets/js/bootstrap.js")"></script>
        <script src="@Url.Content("~/assets/js/ace-elements.js")"></script>
        <script src="@Url.Content("~/assets/js/ace.js")"></script>
        <script src="@Url.Content("~/assets/js/jquery.gritter.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jsHome/jsHome.js")"></script>


        <!-- inline scripts related to this page -->
        <script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});
        </script>

    </form>

</body>
</html>
