@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>COMISIONES | Cambia Contraseña</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../assets/css/ace-fonts.css" />
    <link rel="stylesheet" href="../assets/css/ace.css" />
    <link rel="stylesheet" href="../assets/css/ace-skins.css" />
    <link rel="stylesheet" href="../assets/css/ace-rtl.css" />
    <link rel="stylesheet" href="../assets/css/jquery.gritter.css" />
    <script src="../assets/js/ace-extra.js"></script>

    @Styles.Render("~/Content/css/sweet")
    @Scripts.Render("~/bundles/sweet")
</head>
<body class="login-layout light-login">
    <form runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>

        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <i class="ace-icon fa fa-cube"></i>
                                    <span class="red">Sistema</span>
                                    <span class="grey" id="id-text2">Comisiones</span>
                                </h1>
                                <h4 class="blue" id="id-company-text">Grupo EI</h4>
                            </div>

                            <div class="space-6"></div>

                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="ace-icon fa fa-shield blue"></i>
                                                Cambia tu contraseña
                                            </h4>

                                            <div class="space-6"></div>

                                            @using (Html.BeginForm("LoginRecover", "Home", FormMethod.Post, new { id = "LoginRecover-form" }))
                                            {
                                                <fieldset>
                                                    <input type="hidden" value="@ViewBag.BagLogin" id="BagLogin" />
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.Editor("txtNewPass1", new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresa nueva contraseña", @type = "password" } })
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>

                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            @Html.Editor("txtNewPass2", new { htmlAttributes = new { @class = "form-control", @placeholder = "Reingresa la contraseña", @type = "password" } })
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                    </label>

                                                    <div class="space"></div>

                                                    <div class="clearfix">

                                                        <button type="button" onclick="fnCambiaPass()" class="pull-right btn btn-sm btn-primary">
                                                            <i class="ace-icon fa fa-key"></i>
                                                            <span class="bigger-110">Cambiar contraseña</span>
                                                        </button>
                                                    </div>

                                                    <div class="space-4"></div>
                                                </fieldset>
                                            }

                                        </div><!-- /.widget-main -->

                                    </div><!-- /.widget-body -->
                                </div><!-- /.login-box -->
                                <!-- Modal -->
                                <div class="modal fade" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="waitModalLabel">Cargando</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="module" style="font-weight: bold;"></div>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">Cargando...</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div><!-- /.position-relative -->

                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container -->
        <!-- basic scripts -->
        <!--[if !IE]> -->
        <script type="text/javascript">
			window.jQuery || document.write("<script src='../assets/js/jquery.js'>"+"<"+"/script>");
        </script>

        <!-- <![endif]-->
        <!--[if IE]>
        <script type="text/javascript">
         window.jQuery || document.write("<script src='../assets/js/jquery1x.js'>"+"<"+"/script>");
        </script>
        <![endif]-->
        <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
        </script>
        <script src="../assets/js/bootstrap.js"></script>
        <script src="../assets/js/ace-elements.js"></script>
        <script src="../assets/js/ace.js"></script>
        <script src="../assets/js/jquery.gritter.min.js"></script>
        <script src="~/Scripts/jsHome/jsHome.js"></script>


        <!-- inline scripts related to this page -->
        <script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});


        </script>



    </form>



</body>
</html>
