@*@if(Session["UserID"] == null){
    
}*@
<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Sistema Comisiones - @ViewBag.Title</title>


    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/customs.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/ace-fonts.css" rel="stylesheet" />
    <link href="~/assets/css/ace.css" rel="stylesheet" />
    <link href="~/assets/css/ace-skins.css" rel="stylesheet" />
    <link href="~/assets/css/daterangepicker.min.css" rel="stylesheet" />

    <script src="@Url.Content("~/assets/js/ace-extra.js")"></script>
    <!-- Para Wizard -->

    <link rel="stylesheet" href="~/assets/css/select2.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/s/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0,fh-3.1.0,sc-1.4.0/datatables.min.css" />


    @Styles.Render("~/Content/css/sweet")
    @Scripts.Render("~/bundles/sweet")

    @*<script src="../assets/js/jquery.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/ace/ace.js"></script>*@
</head>
<body class="skin-1">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-cube"></i>
                        Sistemas Comisiones
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @*<li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 Tasks to complete
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Task Name</span>
                                                <span class="pull-right">65%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See tasks with details
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="~/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Message Summary
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>Message Time</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>*@

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/assets/avatars/user.png" style="width:38px;" alt="Pic Usuario" />
                            <span class="user-info">
                                <small>Bienvenido,</small>
                                @Session["UserName"].ToString()
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Configuración
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#" onclick="SignOut()">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            @*<div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->*@

            <ul class="nav nav-list">
                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
            {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-users"></i>
                            <span class="menu-text"> Clientes </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="@Url.Action("Index", "clientesComConfig")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    <span>Resumen Clientes</span>
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">

                                @*@Html.ActionLink("Alta de Clientes", "Alta", "Clientes", null)*@
                                <a href="@Url.Action("Create", "clientesComConfig")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    <span>Alta de Clientes</span>
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
            {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-user"></i>
                            <span class="menu-text"> Vendedores </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">

                                <a href="@Url.Action("Index", "Vendedores")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Resumen Vendedores
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="@Url.Action("Create", "Vendedores")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    <span>Alta de Vendedores</span>
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">

                                <a href="@Url.Action("DescuentosV", "Vendedores")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Descuentos
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                <li class="">
                    <a href="@Url.Action("Consultas", "Consultas")">
                        <i class="menu-icon fa fa-search"></i>

                        <span class="menu-text"> Buscar Facturas </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
            {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-calendar"></i>
                            <span class="menu-text"> Periodos </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="@Url.Action("Create", "Periodos", new {vendedor = "0", periodo = "0" })">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Generar Periodo
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="@Url.Action("HistoricoPeriodos", "Periodos")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Historico Periodos
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>
                }

                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-lock"></i>
                            <span class="menu-text"> Liberaciones </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="@Url.Action("LiberarRetenciones", "Facturas")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Retenciones
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="@Url.Action("LiberarComisiones", "Facturas")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Comisionable y no Comisionables
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }
                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
            {
                    <li class="">
                        <a href="@Url.Action("Historial", "HistorialEventos")">
                            <i class="menu-icon fa fa-clock-o"></i>
                            <span class="menu-text"> Historial de eventos </span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                }
                @if (Session["RolID"].ToString().Equals("Administrador") || Session["RolID"].ToString().Equals("Operador"))
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-lock"></i>
                            <span class="menu-text"> Patentes </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="@Url.Action("Index", "Patentes")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Resumen de Patentes
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>


                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="@Url.Action("Create", "Patentes")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Alta de Patentes
                                </a>

                                <b class="arrow"></b>
                            </li>
                        </ul>

                    </li>
                }


            </ul><!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        @RenderBody()
    </div>


    <!--[if !IE]> -->
    @*<script src="@Url.Content("~/assets/js/jquery.js")"></script>
    <script type="text/javascript">
        var jquerymobile = '@Url.Content("~/assets/js/jquery.mobile.custom.js")'
        if ('ontouchstart' in document.documentElement) document.write("<script src='" + jquerymobile + "'>" + "<" + "/script>");
    </script>*@
    @*<script src="~/assets/js/bootstrap.js"></script>*@

    <script>
        var URL_SignOut = '@Url.Content("~/Home/SignOut")';
        var URL_Home = '@Url.Content("~/Home/")';
    </script>

    <!-- ace scripts -->
    <script src="@Url.Content("~/assets/js/ace/elements.scroller.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.colorpicker.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.fileinput.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.typeahead.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.wysiwyg.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.spinner.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.treeview.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.wizard.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/elements.aside.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.ajax-content.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.touch-drag.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.sidebar.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.sidebar-scroll-1.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.submenu-hover.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.widget-box.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings-rtl.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.settings-skin.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.widget-on-reload.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.searchbox-autocomplete.js")"></script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="@Url.Content("~/assets/js/ace/elements.onpage-help.js")"></script>
    <script src="@Url.Content("~/assets/js/ace/ace.onpage-help.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
</body>
</html>

@RenderSection("scripts", required: false)
