@model IEnumerable<OneCoreData.com_clientesComConfig>

@{
    ViewBag.Title = "Resumen de Clientes";
}


<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("Index", "Home")">Principal</a>
                </li>

                <li>
                    <a href="#">Resumen de Clientes</a>
                </li>
            </ul><!-- /.breadcrumb -->

        </div>

        <div class="page-content">

            <div class="page-header">
                <h1>
                    Resumen Clientes
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Comisiones
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="clearfix">
                        <button id="btnXLS" class="pull-right DTTT_button btn btn-white btn-primary btn-bold" title="Alt. Exportar Excel" style="padding: 4px 8px; display:none;"><img src="~/assets/images/icons8-Microsoft Excel-48.png" style="width: 24px;" /></button>
                        <div class="pull-right tableTools-container"></div>
                    </div>
                    <div class="table-header">
                        Resultados obtenidos
                    </div>

                    <!-- div.table-responsive -->
                    <!-- div.dataTables_borderWrap -->
                    <div>
                        <input type="hidden" value="@ViewBag.hdnRolID" id="hdnRolID" />
                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">

                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Cliente Factura</th>
                                    <th>Cliente Pedimento</th>
                                    <th>Vendedor</th>
                                    @*<th>Aduana</th>*@
                                    <th>Tipo</th>
                                    <th>Clave Pedimento</th>
                                    <th>Dias Credito</th>
                                    <th>Dias Gracia</th>
                                    <th>Dias Retención</th>
                                    <th>Tipo Comisión</th>
                                    <th>Intercia</th>
                                    <th></th>
                                </tr>
                            </thead>


                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idClienteConfig)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.com_empresas.strNombreEmpresa)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.strNombreCliente)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.strNombreClientePedimento)
                                    </td>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.com_vendedores.strNombre)
                                        @Html.DisplayFor(modelItem => item.com_vendedores.strApellidoP)
                                        @Html.DisplayFor(modelItem => item.com_vendedores.strApellidoM)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.strTipoOp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.strClavePedimento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.intDiasCredito)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.intDiasGracia)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.intDiasRetencion)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.strTipoCosto)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.strIntercia)
                                    </td>

                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.idClienteConfig }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.idClienteConfig }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.idClienteConfig })*@
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->
<!-- basic scripts -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!--[if !IE]> -->
<script type="text/javascript">
            var jquerymobile = '@Url.Content("~/assets/js/jquery.mobile.custom.js")'
            if ('ontouchstart' in document.documentElement) document.write("<script src='" + jquerymobile + "'>" + "<" + "/script>");
</script>

<!-- ace settings handler -->
<script src="@Url.Content("~/assets/js/ace-extra.js")"></script>

<script src="@Url.Content("~/assets/js/jquery.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/Exportar/datatables.js")"></script>
<script src="@Url.Content("~/assets/js/dataTables/extensions/TableTools/js/dataTables.tableTools.js")"></script>
<script src="@Url.Content("~/assets/js/dataTables/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/assets/js/dataTables/jquery.dataTables.bootstrap.js")"></script>

<script src="@Url.Content("~/assets/js/dataTables/extensions/ColVis/js/dataTables.colVis.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.table2excel.js")"></script>
<script src="@Url.Content("~/assets/js/bootstrap.js")"></script>

<script src="@Url.Content("~/Scripts/jsClientes/jsClientes.js?v=23")"></script>